body{
    margin:0;
    background:#0b1220;
    font-family:Arial;
    color:white;
    text-align:center;
}

h1{
    margin:15px;
}

#bubble-container{
    position: relative;
    width:100%;
    height:80vh;
    overflow:hidden;
}

/* bubble */
.bubble{
    position:absolute;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:bold;
    cursor:pointer;
    text-align:center;
    box-shadow:0 0 20px rgba(0,255,150,0.6);
    transition:0.3s;
}

.bubble:hover{
    transform:scale(1.15);
    z-index:10;
}


.bubble:hover{
    transform:scale(1.1);
    z-index:10;
}

@keyframes float{
    from{ transform:translateY(0px); }
    to{ transform:translateY(-15px); }
}


#top-bar{
    display:flex;
    justify-content:center;
    gap:10px;
    padding:10px;
}

#search{
    padding:8px;
    border-radius:5px;
    border:none;
    width:200px;
}

#top-bar{
    display:flex;
    justify-content:center;
    gap:10px;
    padding:10px;
}

#search{
    padding:8px;
    border-radius:5px;
    border:none;
    width:200px;
}

/* Zoom */
#bubble-container{
    transform-origin:center;
}

/* Coin logo */
.bubble img{
    width:30px;
    height:30px;
    border-radius:50%;
    margin-bottom:5px;
}

.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:100;
}

.popup-content{
    background:#0b1220;
    padding:20px;
    border-radius:10px;
    width:300px;
    text-align:center;
    color:white;
    box-shadow:0 0 30px #00ff99;
}

.popup-content img{
    width:60px;
}

#close{
    float:right;
    cursor:pointer;
}
